{% extends 'base.html.twig' %}

{% block title %}Show all Boss{% endblock %}
{% block bossActive %}active{% endblock %}
{% block body %}
<div class="container my-5">
    <h1>Boss hébdomadaires</h1>
</div>

<div class="container">

    <div class="d-flex flex-wrap justify-content-evenly">
    {% for i in 1..8 %}

        <div class="card mb-2" style="width: 18rem;">
            <img src="https://picsum.photos/id/2{{ i }}/300/200" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Boss n°{{ i }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="btn btn-success">Marquer comme fait</a></li>
                    <li class="list-group-item"><a href="#" class="btn btn-danger">Marquer comme non-fait</a></li>
                    <li class="list-group-item"><a href="{{path ('app_front_boss_details') }}" class="btn btn-primary">Fiche Boss</a></li>
            </div>
        </div>

    {% endfor %}
    </div>
</div>
{% endblock %}
