{% extends 'base.html.twig' %}

{% block title %}Hall of fame{% endblock %}
{% block personnageActive %}active{% endblock %}
{% block body %}

<div class="container my-5">
    <h1>Hall of fame</h1>
</div>

<div class="container-fluid">

    <div class="d-flex flex-wrap justify-content-evenly">
    {% for i in 0..76 %}

        <div class="card mb-2" style="width: 18rem;">
            <img src="https://picsum.photos/id/2{{ i }}/300/200" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Personnage n°{{ i }}</h5>
                <a href="{{path ('app_front_personnage_details') }}" class="btn btn-primary">Fiche perso</a>
            </div>
        </div>

    {% endfor %}
    </div>
</div>
{% endblock %}
